:root {
  /* Colors */
  --pressed-state-color: #4d5ae5; /* IRIS */
  --primary-brand-color: #404bbf; /* OCEAN */
  --dark-color: #2e2f42; /* NAVYBLUE */
  --success-color: #31d0aa; /* GREEN */
  --text-color: #434455; /* SLATE */
  --subtle-text-color: #8e8f99; /* LIGHT SLATE */
  --accent-color: #e7e9fc; /* CORNFLOWER */
  --ligh-color: #f4f4fd; /* CLOUD */
  --modal-overlay-color: #2e2f42; /* NAVYBLUEMODAL */
  --hero-background-color: #2e2f42; /* GRAY */
  --white-background-color: #ffffff; /* WHITE */
  --modal-background-color: #fcfcfc; /* DAIRY */

  /* Animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
   |==================================
   |  Basic styles
   |==================================
*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

/* reset  start*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

/* reset end */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

/*
   |==================================
   |  Logo
   |==================================
*/

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--pressed-state-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: var(--dark-color);
}

.logo-light {
  color: var(--ligh-color);
}

/*
   |==================================
   |  Header
   |==================================
*/

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo-link {
  margin-right: 76px;
  padding: 24px 0;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  position: relative;
  display: block;
  padding: 24px 0;

  color: var(--dark-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color var(--animation);
}

.header-nav-link.current {
  color: var(--primary-brand-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--primary-brand-color);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--primary-brand-color);
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color var(--animation);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--primary-brand-color);
}

/*
   |==================================
   |  Index styles
   |==================================
*/

/* ===== heroe  ===== */
.heroe {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroe-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;

  color: var(--white-background-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.heroe-btn {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;

  padding: 16px 32px;
  min-width: 169px;

  transition: background-color var(--animation);
}

.heroe-btn:hover,
.heroe-btn:focus {
  background-color: var(--primary-brand-color);
}

/* ===== themes  ===== */
.themes {
  padding: 120px 0;
}

.themes-card {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.themes-card-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background: var(--ligh-color);
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.themes-card-icon {
}

.themes-card-title {
  margin-bottom: 8px;

  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.themes-card-text {
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===== doing  ===== */
.doing {
  padding-bottom: 120px;
}

.doing-title {
  margin: 0 0 72px 0;

  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.doing-card {
  min-width: 360px;
  flex-basis: calc((100% - 24px * 2) / 3);
}

/* ===== our-team  ===== */
.our-team {
  background-color: var(--ligh-color);
  padding: 120px 0;
}

.our-team-title {
  margin: 0 0 72px 0;

  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.our-team-card {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background-color);
  flex-basis: calc((100% - 24px * 3) / 4);

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-card-content {
  padding: 32px 0;
  text-align: center;
}

.our-team-card-content-title {
  margin: 0 0 8px 0;

  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.our-team-card-content-text {
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team-social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.our-team-social-media-item {
}

.our-team-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--pressed-state-color);

  transition: background-color var(--animation);
}

.our-team-social-media-link:focus,
.our-team-social-media-link:hover {
  background-color: var(--primary-brand-color);
}

.our-team-social-media-icon {
  fill: var(--ligh-color);
}

.customers {
  padding: 120px 0;
}

.customers-container {
}

.customers-header {
  text-align: center;
  margin-bottom: 72px;

  color: var(--dark-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customers-list {
  justify-content: center;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 4px;
  border: 1px solid var(--subtle-text-color);
  color: var(--subtle-text-color);

  transition: border-color var(--animation), color var(--animation);
}

.customers-link:focus,
.customers-link:hover {
  border-color: var(--primary-brand-color);
  color: var(--primary-brand-color);
}

.customers-icon {
  fill: currentColor;
  transition: fill var(--animation);
}

.customers-link:focus .customers-icon,
.customers-link:hover .customers-icon {
  fill: var(--primary-brand-color);
}

/*
   |==================================
   |  Portfolio styles
   |==================================
*/

/* ===== filters  ===== */
.filters {
  padding: 96px 0 120px 0;
}

.filters-buttons {
  margin: 0 0 72px 0;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.filters-button {
  font-size: 16px;
  background-color: var(--ligh-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--pressed-state-color);

  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);

  transition: background-color var(--animation), color var(--animation),
    border-color var(--animation), box-shadow var(--animation);
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* ===== product  ===== */
.product-list {
  row-gap: 48px;
}

.product-item {
  flex-basis: calc((100% - 24 * 2px) / 3);
  transition: box-shadow var(--animation);
}

.product-link {
  display: block;

  transition: box-shadow var(--animation);
}

.product-link:hover,
.product-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.product-item-content {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.product-item-content-title {
  margin-bottom: 8px;

  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.product-item-content-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.product-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--pressed-state-color);
  color: var(--ligh-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform var(--animation);
}

.product-link:hover .overlay,
.product-link:focus .overlay {
  transform: translateY(0);
}

/*
   |==================================
   |  Footer
   |==================================
*/
.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

/* footer main */

.footer-main {
  margin-right: 120px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--ligh-color);
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer media */
.footer-social-media {
  margin-right: 80px;
}

.footer-social-media-header {
  color: var(--white-background-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-media-list {
  display: flex;
  gap: 16px;
}

.fotter-social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer-media-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--pressed-state-color);

  transition: background-color var(--animation);
}

.footer-media-social-link:hover,
.footer-media-social-link:focus {
  background-color: var(--success-color);
}

.footer-social-media-icons {
  fill: var(--ligh-color);
}

/* footer wrap */
.footer-form-wrapp {
}

.footer-form-header {
  color: var(--white-background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  outline: none;

  background-color: transparent;
  color: var(--white-background-color);

  border-radius: 4px;
  border: 1px solid var(--white-background-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  color: var(--white-background-color);
}

.footer-btn {
  min-width: 165px;
  height: 40px;

  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  color: var(--white-background-color);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  background-color: var(--pressed-state-color);
  border: none;

  transition: background-color var(--animation);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--primary-brand-color);
}

.footer-btn-icon {
  margin-left: 16px;
  fill: var(--white-background-color);
}

/*
   |==================================
   |  modal window
   |==================================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  border-radius: 4px;
  background: var(--modal-background-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition: transform var(--animation);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

/* close btn  */
.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  padding: 0;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--animation), border var(--animation);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: var(--primary-brand-color);
  border: none;
}

.modal-btn-icon {
  transition: fill var(--animation);
}

.modal-btn-close:hover .modal-btn-icon,
.modal-btn-close:focus .modal-btn-icon {
  fill: #ffffff;
}

/* modal header */
.modal-header {
  color: var(--modal-overlay-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

/*  Modal form */

.modal-form-box {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;

  color: var(--subtle-text-color);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--animation);
}

.modal-form-input:focus {
  border-color: var(--pressed-state-color);
}

.modal-form-input-icon {
  fill: var(--dark-color);
  position: absolute;
  left: 16px;
  top: 50%;

  transform: translateY(-50%);
  transition: fill var(--animation);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--pressed-state-color);
}

.comment-box {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;

  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--animation);
}

.modal-textarea:focus {
  border-color: var(--pressed-state-color);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

/* modal checkbox */

.checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-form-agrement {
  display: block;

  color: var(--subtle-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  user-select: none;
}

.modal-form-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  margin-right: 8px;

  fill: transparent;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color var(--animation), border var(--animation),
    fill var(--animation);
}

input[type='checkbox']:checked + .modal-form-agrement .modal-form-check {
  background-color: var(--primary-brand-color);
  border: none;
  fill: var(--ligh-color);
}

.modal-agrement-link {
  color: var(--iris, #4d5ae5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-btn-send {
  display: block;
  margin: 0 auto;

  min-width: 169px;
  align-self: center;

  padding: 16px 32px;

  color: var(--white-background-color);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;

  transition: background-color var(--animation);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: var(--primary-brand-color);
}
